<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="form">
    <div class="row">
        <div class="form-group col-6">
            <label >Nom du conducteur</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input required type="text"  th:field="*{nom}" class="form-control"
                       placeholder="Ex : TOTO"  >
            </div>
        </div>

        <div class="form-group col-6">
            <label >Prénom du conducteur</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input required type="text" th:field="*{prenom}" class="form-control"
                       placeholder="Ex : Toto"  >
            </div>
        </div>
    </div>
    <div class="row">

        <div class="form-group col-6">
            <label>Date de naissance</label>
            <input type="date" class="form-control" th:field="*{dateNaissance}" required>
        </div>

        <div class="form-group col-6">
            <label >Numéro du permis</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input required type="text" th:field="*{numeroPermis}" class="form-control"
                       placeholder="Ex : XXX" >
            </div>
        </div>
    </div>
</div>
</body>
</html>